In [1]:
from code_engine import CodeEngine

In [2]:
ce = CodeEngine()

In [3]:
docstrings = "This function adds two elements together"
inputs = ["a", "b"]
test_case = [{"a": 1, "b": 2, "output": 3}]

result = ce.generate_code(docstrings, inputs, test_cases=test_case)

Finding Examples
Generating Prompts
<class 'int'>
<class 'int'>
<class 'int'>
Generating Code
Running Test Cases


def solution(a: int, b: int) -> int:
	"""This function adds two elements together"""
	return a + b


All test cases passed!

In [4]:
print(result)

def solution(a: int, b: int) -> int:
	"""This function adds two elements together"""
	return a + b

print(solution(2, 3))
print(solution.__doc__)
print(solution.__annotations__)

In [6]:
import pandas as pd

In [18]:
import numpy as np

In [25]:
a = np.array([1,2,3])
b = np.array([1,2,3])

In [27]:
np.array_equal(a, b)

True

In [22]:
type(a) == np.ndarray

True

In [17]:
type(test_input).__name__

'DataFrame'

In [24]:
str(type(test_input)).split("'")[1].split('.')[0]

'pandas'

In [28]:
import sys

In [30]:
str(sys.modules['pandas'])

"<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>"

In [17]:
str(globals()['pd'])

"<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>"

In [31]:
str(globals()['pd']) == str(sys.modules['pandas'])

True

In [48]:
global_keys = globals().keys()
for key in global_keys:
    if str(globals()[key]) == str(sys.modules['pandas']):
        print(globals()[key])
        print(key)

<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
pd
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_8
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_29
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_30

In [21]:
type(test_input) == spd.DataFrame

True

In [23]:
str(type(test_input))

"<class 'pandas.core.frame.DataFrame'>"

In [22]:
str(pd.DataFrame)

"<class 'pandas.core.frame.DataFrame'>"

In [20]:
if test_input == test_input:
    print('yes')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
import pandas as pd

In [5]:
docstrings = "Drop duplicate rows from colum 'name'"
inputs = ["df"]
test_input = pd.DataFrame({'name': ['jack', 'jack', 'will'], 'age': [24, 24, 25]})
test_output = pd.DataFrame({'name': ['jack', 'will'], 'age': [24, 25]})
test_case = [{"df": test_input, "output": test_output}]


result = ce.generate_code(docstrings, inputs, test_cases=test_case, func_name="df_drop_duplicates")

Finding Examples
Generating Prompts
Generating Code
Running Test Cases


import pandas as pd

def df_drop_duplicates(df):
	"""Drop duplicate rows from colum 'name'"""
	return df.drop_duplicates(subset=['name']).reset_index(drop=True)



All test cases passed!

In [11]:
test_input = pd.DataFrame({'Text': ['aa bb cc', 'ee ff gg hh', 'xx yy', 'zz zz zz'],
                            'Name': ["Paul", 'NA', 'NA', "Anton"]})
test_output = pd.DataFrame({'Text': ['aa bb cc', 'ee ff gg hh', 'xx yy', 'zz zz zz'],
                            'Name': ["Paul", 'ee ff gg', 'xx yy', "Anton"]})

test_case = {'df': test_input, 'output': test_output}
inputs = ["df"]
docstrings = 'Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"'
docstrings += f"\n Example Input:\n{test_input}\n\nOutput:\n{test_output}"
result = ce.generate_code(docstrings, inputs, test_cases=test_case)

Finding Examples
Generating Prompts
Generating Code
Running Test Cases


def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	for index, row in df.iterrows():
		if df.loc[index, 'Name'] == 'NA':
			df.loc[index, 'Name'] = row['Text'].split(' ')[:3]

	return df




Running Test Cases


#If you have a dataframe like this:

>>> df
   a  b  c
0  1  2  3
1  4  5  6
2  6  7  8


#You can get the raw values into a list form like this:

>>> t = df.values.tolist()
>>> t
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]


#from there you can transform it into your tuples like so:

>>> tt= tuple(((a,b), c) for a,b,c in t)
>>> tt
(((1, 2), 3), ((4, 5), 6), ((6, 7), 8))

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	t = df.values.tolist()
	tt= tuple(((a,b), c) for a,b,c in t)
	for n in tt :
		if n[1] in ['NA'] :
			x = n[0][0]
			n[1] = x.split()[:3]

			print(n[0])
			print(n[1])

		else:
			print(n[0])
			print(n[1])


Running Test Cases


#Given this input:

lst = ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk']


#Try this, as a one-liner (assuming Python 2.x):

sum([lst[i:i+5]+['\n'] for i in xrange(0, len(lst), 5)], [])[:-1]


#Or in two lines, but more efficient:

tmp = (lst[i:i+5]+['\n'] for i in xrange(0, len(lst), 5))
[item for slist in tmp for item in slist][:-1]


#Either way, the result is as expected:

=> ['aa', 'bb', 'cc', 'dd', 'ee', '\n',
    'ff', 'gg', 'hh', 'ii', 'jj', '\n',
    'kk']

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	for i in df.index:
		if df.loc[i,'Name'] == 'NA':
			df.loc[i,'Name'] = re.sub('[.,]', '', df.loc[i,'Text']).split()[:3]




Running Test Cases


#You could iterate through the rows of the first DataFrame (df1), select the relevant columns from df2 and add the result with appropriate labels to a dictionary, which you can convert to a Series when done:

correlations = {}
for i, row in df1.iterrows():
    correlations[row['col1' + '_' + row['col2']]] = df2.loc[:,row['col1']].corr(df2.loc[:, row['col2'], method='pearson')

result = pd.Series(correlations)

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	# create a mask of the rows in df where the value in column "Name" equals "NA"
	mask = df["Name"] == "NA"
	# create a series (named "text") where we split the values in column "text" by spaces for all rows where "Name" equals "NA"
	df.loc[mask,"text"] = df.loc[mask,"text"].str.split()
	# create another series (named "name") where we map the values in column "text" with a lambda function using the mask, to return the first three words from column "text"
	df.loc[mask, "name"] = df.loc[mask].text.map(lambda x: " ".join(x[:3]))
	#return the dataframe
	return df


Running Test Cases


#Try this:

import re
s = "[AA BB, CC, DD, EE] [PP QQ, RR] [WW XX, YY, ZZ]"
response = re.findall('(?<![[\w])\w+', s)

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	x = []
	a=0
	while a < len(df['name']):
		x.append(a)
		a+=1
	for y in x:
		if df.loc[y,'name'] == 'NA':
			df.loc[y,'name'] = ''.join(response[y:y+3])


Running Test Cases


#[UPDATE] pure GAWK solution:

BEGIN {
    FS=OFS=","
    n = 0
}
{
    if($1 == "IM") {
        n++
    }
    keys[$1]++
    vals[n,$1]=$2
}
END {
    l=asorti(keys, copy)
    printf "id"
    for (i=1; i<=l; i++) {
        printf "%s%s", FS, copy[i]
    }
    print ""

    for (i=1; i<=n; i++) {
        printf "%s", i
        for (k=1; k<=l; k++) {
            printf "%s%s", FS, vals[i,copy[k]]
        }
        print ""
    }
}


#Output:

{ .data }  Â» awk -f prg.awk data.csv
id,IM,IS,OTPL,SG,TTPL
1,XX,YY,90,3,90
2,AA,BB,,3,50
3,ZZ,CC,10,,


#[OLD] Pandas solution:

#i think you can just use pivot_table() instead of groupby() + concat() :

In [105]: df
Out[105]:
    id   key val
0    1    IM  XX
1    1    IS  YY
2    1    SG   3
3    1  OTPL  90
4    1  TTPL  90
5    2    IM  AA
6    2    IS  BB
7    2    SG   3
8    2  TTPL  50
9    3    IM  ZZ
10   3    IS  CC
11   3  OTPL  10

In [106]: df.pivot_table(index='id', columns='key', values='val', aggfunc='sum', fill_value=np.nan)
Out[106]:
key  IM  IS OTPL   SG TTPL
id
1    XX  YY   90    3   90
2    AA  BB  NaN    3   50
3    ZZ  CC   10  NaN  NaN


#or pivot() if you don't have duplicates (like in your sample data set):

In [109]: df.pivot(index='id', columns='key', values='val')
Out[109]:
key  IM  IS  OTPL    SG  TTPL
id
1    XX  YY    90     3    90
2    AA  BB  None     3    50
3    ZZ  CC    10  None  None


#the same with NaNs instead of Nones:

In [110]: df.pivot(index='id', columns='key', values='val').fillna(np.nan)
Out[110]:
key  IM  IS OTPL   SG TTPL
id
1    XX  YY   90    3   90
2    AA  BB  NaN    3   50
3    ZZ  CC   10  NaN  NaN

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""

	for j, i in df.iterrows():
		if df['Name'][j] == 'NA':
			df['Name'][j] = " ".join(df['Text'][j].split(" ", 3)[0:3])

	print(df)

if __name__ == '__main__':
	df = pd.read_csv("test1.csv")
	solution(df)


Running Test Cases


#You can definitely do this in one (and a bit) line in Python if you're comfortable with list comprehensions/generator expressions:

combs = list(itertools.combinations(
    ((1, 'aa'), (2, 'bb'), (3, 'cc'), (4, 'dd'),
     (5, 'ee'), (6, 'ff'), (7, 'gg'), (8, 'hh')),
    6
))
sums = [
    (sum(n for n, text in comb), ''.join(text for n, text in comb))
    for comb in combs
]

# Will sort by number first, then text, by default
sorted(sums)
Out[8]:
[(21, 'aabbccddeeff'),
 (22, 'aabbccddeegg'),
 (23, 'aabbccddeehh'),
 (23, 'aabbccddffgg'),
 (24, 'aabbccddffhh'),
 (24, 'aabbcceeffgg'),
 (25, 'aabbccddgghh'),
 (25, 'aabbcceeffhh'),
 # Etc.

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""

	#convert column "text" to lower case
	df['text'] = df['text'].str.lower()

	#split the value of each cell in column "text" by " " (whitespace) and return each result as an array
	df['text'] = df['text'].str.split(" ")

	#iterate through each cell in column "text". This cell is a list of words
	for index, row in df.iterrows():

		#In each list of words, add the first 3 words or the amount of words available if less than 3
		nameslist = row['text'][:3]

		#Join the words in the list into a string
		newname = " ".join(nameslist)

		#Replace the content of column "name" with this string when "NA"
		df.loc[index,'name'] = df.loc[index,'name'].replace("NA", newname)

	return df

import numpy as np
from numpy import random



Running Test Cases


#This answer is assuming that the variable rows contains a list of list of tuples like this [[('xx', 'xx'), ('xx', 'xx'), ('xx', 'xx')], [('yy',), ('yy',)], [('zz',)]] and that you're working with Python2

from itertools import izip_longest

rows = [[('xx', 'xx'), ('xx', 'xx'), ('xx', 'xx')], [('yy',), ('yy',)], [('zz',)]]
final_rows = map(lambda x: reduce(lambda y,z: y+z,x),list(izip_longest(*rows, fillvalue=(None,))))

with open('temp_file.csv', 'w') as outfile:
    writer = csv.writer(outfile, delimiter = "\t")
    writer.writerow(flat_columns)
    writer.writerows(final_rows)


#Output:

header1 header2 header3 header4
xx      xx      yy      zz
xx      xx      yy
xx      xx


#Note:
#If you wish to use Python3, you may want to wrap the output of the map function around list(), and also import zip_longest instead of izip_longest.

#I hope this helps.

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""

	df['Name'] = np.where(df['Name'].str.contains("NA"),df['Text'].str[:3],df['Name'])


Running Test Cases


#The all builtin function is what you need:

for row in data:
    if all(row[key] == value for key, value in indexdict.items()):
        print row

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	df["Name"].fillna(df["Text"].str.split(expand=True)[0] +" "
										+ df["Text"].str.split(expand=True)[1] +" "
										+ df["Text"].str.split(expand=True)[2], inplace=True)
	return df




Running Test Cases


#You can do this without using any regexes, and it's probably easier to do this way.

>>> str1 = 'AA BB CC DD EE FF GG HH'
>>> a = str1.split()
>>> [" ".join(a[i:i+n]) for n in range(1, 5) for i in range(len(a)-n+1)]
['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'AA BB', 'BB CC', 'CC DD', 'DD EE', 'EE FF', 'FF GG', 'GG HH', 'AA BB CC', 'BB CC DD', 'CC DD EE', 'DD EE FF', 'EE FF GG', 'FF GG HH', 'AA BB CC DD', 'BB CC DD EE', 'CC DD EE FF', 'DD EE FF GG', 'EE FF GG HH']


#In any case, it's certainly easier to read than any regex for this.

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	res = df.copy()
	for i in range(len(df['Text'])):
		if df['Name'][i] == "NA":
			res['Name'][i] = df['Text'][i][:6]
	return res


Running Test Cases


from pandas import *
import numpy as np
from libraries.settings import *
from scipy.stats.stats import pearsonr
import itertools


#Creating random sample data:

df = DataFrame(np.random.random((5, 5)), columns=['gene_' + chr(i + ord('a')) for i in range(5)])
print(df)

     gene_a    gene_b    gene_c    gene_d    gene_e
0  0.471257  0.854139  0.781204  0.678567  0.697993
1  0.292909  0.046159  0.250902  0.064004  0.307537
2  0.422265  0.646988  0.084983  0.822375  0.713397
3  0.113963  0.016122  0.227566  0.206324  0.792048
4  0.357331  0.980479  0.157124  0.560889  0.973161

correlations = {}
columns = df.columns.tolist()

for col_a, col_b in itertools.combinations(columns, 2):
    correlations[col_a + '__' + col_b] = pearsonr(df.loc[:, col_a], df.loc[:, col_b])

result = DataFrame.from_dict(correlations, orient='index')
result.columns = ['PCC', 'p-value']

print(result.sort_index())

                     PCC   p-value
gene_a__gene_b  0.461357  0.434142
gene_a__gene_c  0.177936  0.774646
gene_a__gene_d -0.854884  0.064896
gene_a__gene_e -0.155440  0.802887
gene_b__gene_c -0.575056  0.310455
gene_b__gene_d -0.097054  0.876621
gene_b__gene_e  0.061175  0.922159
gene_c__gene_d -0.633302  0.251381
gene_c__gene_e -0.771120  0.126836
gene_d__gene_e  0.531805  0.356315


#
#Get unique combinations of DataFrame columns using
#itertools.combination(iterable, r)
#Iterate through these combinations and calculate pairwise correlations using scipy.stats.stats.personr
#Add results (PCC and p-value tuple) to dictionary
#Build DataFrame from dictionary
#

#You could then also save result.to_csv(). You might find it convenient to use a MultiIndex (two columns containing the names of each columns) instead of the created names for the pairwise correlations.

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	df.Name = np.where(df.Name == "NA", [x.split(" ")[0:3] for x in df.Text], df.Name)
	print(df)

for i, x in enumerate(df["Name"]):
    if x == "NA":
        df.loc[i,"Name"] = df.loc[i,"Text"].split(" ")[0:3]

df.loc[df.Name == "NA", "Name"] = [x.split(" ")[0:3] for x in df.loc[df.Name == "NA", "Text"]]



Running Test Cases


def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	df["Name"] = df.apply(lambda row: row["Text"].split(" ")[:3] if row["Name"] == "NA" else row["Name"], axis = 1)
	return df

print("Solution:")
print(solution(df))


Running Test Cases


#If you have a dataframe like this:

>>> df
   a  b  c
0  1  2  3
1  4  5  6
2  6  7  8


#You can get the raw values into a list form like this:

>>> t = df.values.tolist()
>>> t
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]


#from there you can transform it into your tuples like so:

>>> tt= tuple(((a,b), c) for a,b,c in t)
>>> tt
(((1, 2), 3), ((4, 5), 6), ((6, 7), 8))

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	df.Name = df.apply(lambda row: row.Text[:3] if row.Name == 'NA' else row.Name, axis=1)
	return df

from numpy.random import randn
import pandas as pd

df = pd.DataFrame(randn(4,4))
df[1][1] = 'NA'
df[2][1] = 'NA'
df[3][2] = 'NA'
df[0][2] = 'NA'
df


Running Test Cases


#Given this input:

lst = ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk']


#Try this, as a one-liner (assuming Python 2.x):

sum([lst[i:i+5]+['\n'] for i in xrange(0, len(lst), 5)], [])[:-1]


#Or in two lines, but more efficient:

tmp = (lst[i:i+5]+['\n'] for i in xrange(0, len(lst), 5))
[item for slist in tmp for item in slist][:-1]


#Either way, the result is as expected:

=> ['aa', 'bb', 'cc', 'dd', 'ee', '\n',
    'ff', 'gg', 'hh', 'ii', 'jj', '\n',
    'kk']

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	df['Name'] = np.where(df['Name'] == 'NA', df['Text'].str.split().str[0:3].str.join(' '), df['Name'])
	return df


Running Test Cases


#You could iterate through the rows of the first DataFrame (df1), select the relevant columns from df2 and add the result with appropriate labels to a dictionary, which you can convert to a Series when done:

correlations = {}
for i, row in df1.iterrows():
    correlations[row['col1' + '_' + row['col2']]] = df2.loc[:,row['col1']].corr(df2.loc[:, row['col2'], method='pearson')

result = pd.Series(correlations)

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	import string
	df['name'].fillna(df['text'].str.split().str.get(0)+' '+df['text'].str.split().str.get(1)+' '+df['text'].str.split().str.get(2), inplace=True)
	return df



Running Test Cases


#Try this:

import re
s = "[AA BB, CC, DD, EE] [PP QQ, RR] [WW XX, YY, ZZ]"
response = re.findall('(?<![[\w])\w+', s)

def solution(df: DataFrame):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	for index, row in df.iterrows():
		if row['name'] == 'NA':
			df.loc[index, 'name'] = row['text'].split(' ')[:3]
	return df


Running Test Cases


#[UPDATE] pure GAWK solution:

BEGIN {
    FS=OFS=","
    n = 0
}
{
    if($1 == "IM") {
        n++
    }
    keys[$1]++
    vals[n,$1]=$2
}
END {
    l=asorti(keys, copy)
    printf "id"
    for (i=1; i<=l; i++) {

KeyboardInterrupt:

In [5]:
import pandas as pd

In [22]:
test_input

ValueError: DataFrame constructor not properly called!

In [19]:
str(type(test_input))

"<class 'pandas.core.frame.DataFrame'>"

In [7]:
import numpy as np

In [18]:
str(type(np.ndarray((1,2)))b).split('.')[0].split("'")[-1]

'numpy'

In [8]:
str(type(np.array([1, 2])))

"<class 'numpy.ndarray'>"

In [25]:
exec_globals = {"brand_new_input": test_input}
check_program = "assert brand_new_input.equals(brand_new_input)"
exec(check_program, exec_globals)