In [1]:
from code_engine import CodeEngine

In [2]:
ce = CodeEngine()

In [3]:
docstrings = "This function adds two elements together"
inputs = ["a", "b"]
test_case = [{"a": 1, "b": 2, "output": 3}]

result = ce.generate_code(docstrings, inputs, test_cases=test_case)

Finding Examples
Generating Prompts
<class 'int'>
<class 'int'>
<class 'int'>
Generating Code
Running Test Cases


def solution(a: int, b: int) -> int:
	"""This function adds two elements together"""
	return a + b


All test cases passed!

In [4]:
print(result)

def solution(a: int, b: int) -> int:
	"""This function adds two elements together"""
	return a + b

print(solution(2, 3))
print(solution.__doc__)
print(solution.__annotations__)

In [6]:
import pandas as pd

In [18]:
import numpy as np

In [25]:
a = np.array([1,2,3])
b = np.array([1,2,3])

In [27]:
np.array_equal(a, b)

True

In [22]:
type(a) == np.ndarray

True

In [17]:
type(test_input).__name__

'DataFrame'

In [24]:
str(type(test_input)).split("'")[1].split('.')[0]

'pandas'

In [28]:
import sys

In [30]:
str(sys.modules['pandas'])

"<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>"

In [17]:
str(globals()['pd'])

"<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>"

In [31]:
str(globals()['pd']) == str(sys.modules['pandas'])

True

In [48]:
global_keys = globals().keys()
for key in global_keys:
    if str(globals()[key]) == str(sys.modules['pandas']):
        print(globals()[key])
        print(key)

<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
pd
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_8
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_29
<module 'pandas' from '/Users/jackweissenberger/anaconda3/envs/code-generation/lib/python3.8/site-packages/pandas/__init__.py'>
_30

In [21]:
type(test_input) == spd.DataFrame

True

In [23]:
str(type(test_input))

"<class 'pandas.core.frame.DataFrame'>"

In [22]:
str(pd.DataFrame)

"<class 'pandas.core.frame.DataFrame'>"

In [20]:
if test_input == test_input:
    print('yes')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
import pandas as pd

In [5]:
docstrings = "Drop duplicate rows from colum 'name'"
inputs = ["df"]
test_input = pd.DataFrame({'name': ['jack', 'jack', 'will'], 'age': [24, 24, 25]})
test_output = pd.DataFrame({'name': ['jack', 'will'], 'age': [24, 25]})
test_case = [{"df": test_input, "output": test_output}]


result = ce.generate_code(docstrings, inputs, test_cases=test_case, func_name="df_drop_duplicates")

Finding Examples
Generating Prompts
Generating Code
Running Test Cases


import pandas as pd

def df_drop_duplicates(df):
	"""Drop duplicate rows from colum 'name'"""
	return df.drop_duplicates(subset=['name']).reset_index(drop=True)



All test cases passed!

In [9]:
test_input = pd.DataFrame({'Text': ['aa bb cc', 'ee ff gg hh', 'xx yy', 'zz zz zz'],
                            'Name': ["Paul", 'NA', 'NA', "Anton"]})
test_output = pd.DataFrame({'Text': ['aa bb cc', 'ee ff gg hh', 'xx yy', 'zz zz zz'],
                            'Name': ["Paul", 'ee ff gg', 'xx yy', "Anton"]})

test_case = {'df': test_input, 'output': test_output}
inputs = ["df"]
docstrings = 'Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"'
docstrings += f"\n Example Input:\n{test_input}\n\nOutput:\n{test_output}"
result = ce.generate_code(docstrings, inputs, test_cases=test_case)

Finding Examples
Generating Prompts
Generating Code
Running Test Cases


import pandas as pd

def solution(df):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	new_names = []
	for i, row in df.iterrows():
		if row['Name'] == 'NA':
			new_names.append(' '.join(row['Text'].split()[:3]))
		else:
			new_names.append(row['Name'])
	df['Name'] = new_names

	return(df)



All test cases passed!

In [12]:
def solution(df):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	new_names = []
	for i, row in df.iterrows():
		if row['Name'] == 'NA':
			new_names.append(' '.join(row['Text'].split()[:3]))
		else:
			new_names.append(row['Name'])
	df['Name'] = new_names

	return(df)

In [13]:
solution(test_input)

          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton

In [11]:
print(result)

import pandas as pd

def solution(df):
	"""Given a data frame. I want to replace only the cells in column "name" where values are "NA" with the first 3 words from the corresponding row in column "text"
 Example Input:
          Text   Name
0     aa bb cc   Paul
1  ee ff gg hh     NA
2        xx yy     NA
3     zz zz zz  Anton

Output:
          Text      Name
0     aa bb cc      Paul
1  ee ff gg hh  ee ff gg
2        xx yy     xx yy
3     zz zz zz     Anton"""
	new_names = []
	for i, row in df.iterrows():
		if row['Name'] == 'NA':
			new_names.append(' '.join(row['Text'].split()[:3]))
		else:
			new_names.append(row['Name'])
	df['Name'] = new_names

	return(df)

In [5]:
import pandas as pd

In [22]:
test_input

ValueError: DataFrame constructor not properly called!

In [19]:
str(type(test_input))

"<class 'pandas.core.frame.DataFrame'>"

In [7]:
import numpy as np

In [18]:
str(type(np.ndarray((1,2)))b).split('.')[0].split("'")[-1]

'numpy'

In [8]:
str(type(np.array([1, 2])))

"<class 'numpy.ndarray'>"

In [25]:
exec_globals = {"brand_new_input": test_input}
check_program = "assert brand_new_input.equals(brand_new_input)"
exec(check_program, exec_globals)