In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Code-gen-350.csv')

In [5]:
df.head()

,question,attempt,passed,result,test_name,model_name,pulled_example,generated_code
0,0,0,False,failed: Missing parentheses in call to 'print'...,Code-gen-350,codegen_350M,#theory\n\n#Actually due to the data limitatio...,#theory\n\n#Actually due to the data limitatio...
1,0,1,False,"failed: invalid syntax (<string>, line 67)",Code-gen-350,codegen_350M,#I suspect the error you're getting means exac...,#I suspect the error you're getting means exac...
2,0,2,False,failed: Missing parentheses in call to 'print'...,Code-gen-350,codegen_350M,#theory\n\n#Actually due to the data limitatio...,#theory\n\n#Actually due to the data limitatio...
3,0,3,False,"failed: invalid syntax (<string>, line 67)",Code-gen-350,codegen_350M,#I suspect the error you're getting means exac...,#I suspect the error you're getting means exac...
4,0,4,True,passed,Code-gen-350,codegen_350M,#A pair of points can only be 'near' each othe...,#A pair of points can only be 'near' each othe...

In [10]:
print(df.pulled_example.iloc[4])

#A pair of points can only be 'near' each other if their distance in at least one dimension is less than the threshold. This can be exploited to reduce the number of candidate pairs by filtering one dimension after the other.

#I suggest:
#- sort the points in one dimension (say: x)
#- find all points which are close enough to the next point in the sorted list and put their index into a set of candidates
#- do not use sqrt() but the quadratic distance (x1 - x2)**2 or even abs(x1 - x2) for efficiency
#- do that for the second dimension as well
#- determine the intersect of both sets, these are points near each other

#This way, you avoid costly is_near() calls, operate on way smaller sets, only work with unique points, and set lookups are very efficient.

#This scheme can easily be expanded to include more than 2 dimensions.