In [1]:
import pandas as pd
import html
import re
from rank_bm25 import BM25Okapi

In [2]:
df = pd.read_csv('./data/formatted_dataset.csv', nrows=3_000)

In [3]:
df.shape

(3000, 4)

In [4]:
df.head()

,Title,Question,Id,Answer
0,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...,535,"<p>I have very good experiences with <a href=""..."
1,Class views in Django,"<p><a href=""http://www.djangoproject.com/"">Dja...",742,<p>You can use the Django Generic Views. You c...
2,Python and MySQL,<p>I can get Python to work with Postgresql bu...,766,"<p>Take a pick at</p>\n\n<p><a href=""https://d..."
3,How do I use Python's itertools.groupby()?,<p>I haven't been able to find an understandab...,773,"<p>Another example:</p>\n\n<pre><code>for key,..."
4,Adding a Method to an Existing Object Instance,<p>I've read that it is possible to add a meth...,972,<p>I think that the above answers missed the k...

In [5]:
df.Answer.iloc[3]

"<p>Another example:</p>\n\n<pre><code>for key, igroup in itertools.groupby(xrange(12), lambda x: x // 5):\n    print key, list(igroup)\n</code></pre>\n\n<p>results in</p>\n\n<pre><code>0 [0, 1, 2, 3, 4]\n1 [5, 6, 7, 8, 9]\n2 [10, 11]\n</code></pre>\n\n<p>Note that igroup is an iterator (a sub-iterator as the documentation calls it).</p>\n\n<p>This is useful for chunking a generator:</p>\n\n<pre><code>def chunker(items, chunk_size):\n    '''Group items in chunks of chunk_size'''\n    for _key, group in itertools.groupby(enumerate(items), lambda x: x[0] // chunk_size):\n        yield (g[1] for g in group)\n\nwith open('file.txt') as fobj:\n    for chunk in chunker(fobj):\n        process(chunk)\n</code></pre>\n\n<p>Another example of groupby - when the keys are not sorted.  In the following example, items in xx are grouped by values in yy.  In this case, one set of zeros is output first, followed by a set of ones, followed again by a set of zeros.</p>\n\n<pre><code>xx = range(10)\nyy = [0, 0, 0, 1, 1, 1, 0, 0, 0, 0]\nfor group in itertools.groupby(iter(xx), lambda x: yy[x]):\n    print group[0], list(group[1])\n</code></pre>\n\n<p>Produces:</p>\n\n<pre><code>0 [0, 1, 2]\n1 [3, 4, 5]\n0 [6, 7, 8, 9]\n</code></pre>\n"

In [19]:
ans = df.Answer.iloc[3]

In [20]:
ans

"<p>Another example:</p>\n\n<pre><code>for key, igroup in itertools.groupby(xrange(12), lambda x: x // 5):\n    print key, list(igroup)\n</code></pre>\n\n<p>results in</p>\n\n<pre><code>0 [0, 1, 2, 3, 4]\n1 [5, 6, 7, 8, 9]\n2 [10, 11]\n</code></pre>\n\n<p>Note that igroup is an iterator (a sub-iterator as the documentation calls it).</p>\n\n<p>This is useful for chunking a generator:</p>\n\n<pre><code>def chunker(items, chunk_size):\n    '''Group items in chunks of chunk_size'''\n    for _key, group in itertools.groupby(enumerate(items), lambda x: x[0] // chunk_size):\n        yield (g[1] for g in group)\n\nwith open('file.txt') as fobj:\n    for chunk in chunker(fobj):\n        process(chunk)\n</code></pre>\n\n<p>Another example of groupby - when the keys are not sorted.  In the following example, items in xx are grouped by values in yy.  In this case, one set of zeros is output first, followed by a set of ones, followed again by a set of zeros.</p>\n\n<pre><code>xx = range(10)\nyy = [0, 0, 0, 1, 1, 1, 0, 0, 0, 0]\nfor group in itertools.groupby(iter(xx), lambda x: yy[x]):\n    print group[0], list(group[1])\n</code></pre>\n\n<p>Produces:</p>\n\n<pre><code>0 [0, 1, 2]\n1 [3, 4, 5]\n0 [6, 7, 8, 9]\n</code></pre>\n"

In [13]:
print(df.Answer.iloc[3])

<p>Another example:</p>

<pre><code>for key, igroup in itertools.groupby(xrange(12), lambda x: x // 5):
    print key, list(igroup)
</code></pre>

<p>results in</p>

<pre><code>0 [0, 1, 2, 3, 4]
1 [5, 6, 7, 8, 9]
2 [10, 11]
</code></pre>

<p>Note that igroup is an iterator (a sub-iterator as the documentation calls it).</p>

<p>This is useful for chunking a generator:</p>

<pre><code>def chunker(items, chunk_size):
    '''Group items in chunks of chunk_size'''
    for _key, group in itertools.groupby(enumerate(items), lambda x: x[0] // chunk_size):
        yield (g[1] for g in group)

with open('file.txt') as fobj:
    for chunk in chunker(fobj):
        process(chunk)
</code></pre>

<p>Another example of groupby - when the keys are not sorted.  In the following example, items in xx are grouped by values in yy.  In this case, one set of zeros is output first, followed by a set of ones, followed again by a set of zeros.</p>

<pre><code>xx = range(10)
yy = [0, 0, 0, 1, 1, 1, 0, 0, 0, 0]
for group in itertools.groupby(iter(xx), lambda x: yy[x]):
    print group[0], list(group[1])
</code></pre>

<p>Produces:</p>

<pre><code>0 [0, 1, 2]
1 [3, 4, 5]
0 [6, 7, 8, 9]
</code></pre>

In [51]:
def clean_html(html_string):
    html_string = html.unescape(html_string)
    html_string = re.sub(r'<.+?>', '', html_string)
    html_string = html_string.replace('\r', '')
    return html_string.strip()

In [52]:
# format for search
qs = []
corpus = []
q2a = {}
for i in range(df.shape[0]):
    title = clean_html(df.Title.iloc[i])
    question = clean_html(df.Question.iloc[i])
    corp_entry = f"{title}\n{question}"
    corpus.append(corp_entry)

    question = title + ' ' + question
    #TODO: replace puncuation, =, <, >, " and brackets with spaces, will be better for tokinization
    #TODO: replace any more than 1 space with many spaces
    question = question.replace('\n', " ").replace('.', " ").replace('?', " ").replace('!', " ").replace('(', " ").replace(')', " ")
    question = question.replace('[', " ").replace(']', " ").replace('_', " ").replace('  ', ' ').strip().lower()
    qs.append(question.split(" "))

    answer = clean_html(df.Answer.iloc[i]).replace('  ', ' ').strip()
    q2a[corp_entry] = answer

In [53]:
bm25 = BM25Okapi(qs)

In [ ]:
def get_documents(query, corpus, n=1):
    tokenized_query = query.lower().split(' ')
    return bm25.get_top_n(tokenized_query, corpus, n=n)

In [ ]:
doc = get_documents("How do I drop duplicates from a pandas column?", corpus, 3)

In [ ]:
doc

["pandas drop_duplicates using comparison function\nIs it somehow possible to use pandas.drop_duplicates with a comparison operator which compares two objects in a particular column in order to identify duplicates? If not, what is the alternative?\n\nHere is an example where it could be used:\n\nI have a pandas DataFrame which has lists as values in a particular column and I would like to have duplicates removed based on column A\n\nimport pandas as pd\n\ndf = pd.DataFrame( {'A': [[1,2],[2,3],[1,2]]} )\nprint df\n\n\ngiving me\n\n        A\n0  [1, 2]\n1  [2, 3]\n2  [1, 2]\n\n\nUsing pandas.drop_duplicates\n\ndf.drop_duplicates( 'A' )\n\n\ngives me a TypeError\n\n[...]\nTypeError: type object argument after * must be a sequence, not itertools.imap\n\n\nHowever, my desired result is\n\n        A\n0  [1, 2]\n1  [2, 3]\n\n\nMy comparison function would be here:\n\ndef cmp(x,y):\n    return x==y\n\n\nBut in principle it could be something else, e.g.,\n\ndef cmp(x,y):\n    return x==y and len(x)>1\n\n\nHow can I remove duplicates based on the comparison function in a efficient way?\n\nEven more, what could I do if I had more columns to compare using a different comparison function, respectively?",
 "Python Pandas_How to select data after using drop_duplicates()?\nI am learning python pandas to processing data. \n\n\nI firstly using drop_duplicates() method to treat db_new and get a;\nThen I'd like to find what kind of data in a using print;\nI try to find if a data is in a using for...in, but I found that even the data in a can not be find in it, why?\n\n\n\n\na = db_new.iloc[:i,4:5].drop_duplicates()\nprint a\nfor x in a:\n    print x**\n\n\n\nI try to use for in to find what can get in a. I only get E, which is the column index. Do you know why this happen?",
 "Python pandas drops duplicates in wrong order\nWhen running drop duplicates on python pandas there seems to be a bug which causes the DataFrame to be sorted in the wrong order.\n\nSpecifically, I was trying to provide two columns to perform the drop duplicates on. Instead of:\n\ndf.drop_duplicates(['a', 'b'], inplace = True)\n\n\nI had:\n\ndf.drop_duplicates('a', 'b', inplace = True)\n\n\nWhich I think caused the problem as it disappeared with the addition of square brackets.\n\nI don't understand why this: a) doesn't bug out for incorrectly defined inputs, b) changes the order of what is dropped and kept."]

In [ ]:
q2a[doc[0]]

'Option 1\n\ndf[~pd.DataFrame(df.A.values.tolist()).duplicated()]\n\n\n\n\nOption 2\n\ndf[~df.A.apply(pd.Series).duplicated()]'

In [27]:
doc = get_documents("How do I drop duplicates from a pandas column?", corpus, 3)

for d in doc:
    print(d)
    print('Answer:')
    print('\n', q2a[d])
    print("-"* 100)

pandas drop_duplicates using comparison function
Is it somehow possible to use pandas.drop_duplicates with a comparison operator which compares two objects in a particular column in order to identify duplicates? If not, what is the alternative?

Here is an example where it could be used:

I have a pandas DataFrame which has lists as values in a particular column and I would like to have duplicates removed based on column A

import pandas as pd

df = pd.DataFrame( {'A': [[1,2],[2,3],[1,2]]} )
print df


giving me

        A
0  [1, 2]
1  [2, 3]
2  [1, 2]


Using pandas.drop_duplicates

df.drop_duplicates( 'A' )


gives me a TypeError

[...]
TypeError: type object argument after * must be a sequence, not itertools.imap


However, my desired result is

        A
0  [1, 2]
1  [2, 3]


My comparison function would be here:

def cmp(x,y):
    return x==y


But in principle it could be something else, e.g.,

def cmp(x,y):
    return x==y and len(x)>1


How can I remove duplicates based on the comparison function in a efficient way?

Even more, what could I do if I had more columns to compare using a different comparison function, respectively?

Answer:

 Option 1

df[~pd.DataFrame(df.A.values.tolist()).duplicated()]




Option 2

df[~df.A.apply(pd.Series).duplicated()]
----------------------------------------------------------------------------------------------------
Python Pandas_How to select data after using drop_duplicates()?
I am learning python pandas to processing data.


I firstly using drop_duplicates() method to treat db_new and get a;
Then I'd like to find what kind of data in a using print;
I try to find if a data is in a using for...in, but I found that even the data in a can not be find in it, why?




a = db_new.iloc[:i,4:5].drop_duplicates()
print a
for x in a:
    print x**



I try to use for in to find what can get in a. I only get E, which is the column index. Do you know why this happen?


Answer:

 Here a is a dataframe, so when you iterate over a you iterate over column names, hence the result, E.

If you want to iterate over values, you need to make a a series, which you can do using squeeze:

for x in a.squeeze():
  print x
----------------------------------------------------------------------------------------------------
Python pandas drops duplicates in wrong order
When running drop duplicates on python pandas there seems to be a bug which causes the DataFrame to be sorted in the wrong order.

Specifically, I was trying to provide two columns to perform the drop duplicates on. Instead of:

df.drop_duplicates(['a', 'b'], inplace = True)


I had:

df.drop_duplicates('a', 'b', inplace = True)


Which I think caused the problem as it disappeared with the addition of square brackets.

I don't understand why this: a) doesn't bug out for incorrectly defined inputs, b) changes the order of what is dropped and kept.

Answer:

 The docs for drop_duplicates say the arguments are:



 subset : column label or sequence of labels, optional
 Only consider certain columns for identifying duplicates, by default use all of the columns
 take_last : boolean, default False
 Take the last observed row in a row. Defaults to the first row
 inplace : boolean, default False
 Whether to drop duplicates in place or to return a copy
 cols : kwargs only argument of subset [deprecated]



So, in your wring call, it probably used b for the take_last, which it evaluated as a Boolean True. This is standard practice in Python (checking for wrong inputs is not comprehensive).
----------------------------------------------------------------------------------------------------

In [32]:
q = """
Input to this function is a string represented multiple groups for nested parentheses separated by spaces.
    For each of the group, output the deepest level of nesting of parentheses.
    E.g. (()()) has maximum two levels of nesting while ((())) has three.
"""
doc = get_documents(q, corpus, 3)

for d in doc:
    print(d)
    print('Answer:')
    print('\n', q2a[d])
    print("-"* 100)

Easy way to determine a nesting level of nested tuples, in Python
Is there an easy way to determine the nesting level (without dependence on Python's recursion limit) of t (representing recombining binomial tree)?

t = (4, (3, 5, (2, 4, 6, (1, 3, 5, 7))))


Note that without a priori knowledge of depth of t, a routine may face recursion limit, which is set by sys.setrecursionlimit(n) and viewed by sys.getrecursionlimit(). Still, setting recursion limit very high before hand, may not be sufficient, thereby generating an error

`RecursionError: maximum recursion depth exceeded while calling a Python object`.


The following generates a larger (deeper) t:

t = tuple(tuple(range(k)) for k in range(1,200))`


I guess these may work (have not worked out the details):


one can convert t to string and count number of opening brackets
If flattened tuple has size $N$, then the depth has size of the positive quadratic root of $n(n+1)/2=N$, that is $n=(-1+\sqrt(1+8N))/2$
iteratively peel (and count) the outer container until deepest nesting
any others?


P.S. Any ideas why in-line TeX is not rendering in my question? Testing: $N$

Answer:

 You can convert the recursion function into a stack that you manage yourself, e.g.

t = (4, (3, 5, (2, 4, 6, (1, 3, 5, 7))))

def depth(t):
  max_depth = 0
  A = [(t,max_depth)]
  while A:
    x,depth = A.pop()
    if isinstance(x, (list, tuple)):
      for a in x:
        A.append((a,depth+1))
    else:
      max_depth = max(max_depth,depth)
  return max_depth

print depth(1) # Prints 0
print depth((1,1)) # Prints 1
print depth(t) # Prints 4


This is not a recursive function so will not hit the recursion limit.
----------------------------------------------------------------------------------------------------
Fastest Search Through Random Nested Data
[
   [
      [2,33,64,276,1],
      [234,5,234,7,34,36,7,2],
      []
   ]
   [
      [2,4,5]
   ]
   .
   .
   .
   etc
]


I'm not looking for an exact solution to this, as the structure above is just an example. I'm trying to search for an ID that can be nested several levels deep within a group of IDs ordered randomly.

Currently I'm just doing a linear search which takes a few minutes to get a result when each of the deepest levels has a couple hundred of IDs. I was wondering if anyone could suggest a faster algorithm for searching through multiple levels of random data? I am doing this in Python if that matters.

Note: The IDs are always at the deepest level and the number of levels is consistent for each branch down. Not sure if that matters or not.

Also to clarify the data points are unique and cannot be repeated. My example has some repeats because I was just smashing the keyboard.

Answer:

 The fastest search through random data is linear. Pretending your data isn't nested, it's still random, so even flattening it won't help.

To decrease the time complexity, you can increase the space complexity -- keep a dict containing IDs as keys and whatever information you want (possibly a list of indices pointing to the list containing the ID at each level), and update it every time you create/update/delete an element.
----------------------------------------------------------------------------------------------------
Sum a nested list of a nested list of a nested list of integers
Given a Python list whose elements are either integers or lists of integers (only we don't know how deep the nesting goes), how can we find the sum of each individual integer within the list?

It's fairly straightforward to find the sum of a list whose nesting only goes one level deep, e.g.

[1, [1, 2, 3]]
# sum is 7


But what if the nesting goes two, three, or more levels deep?

[1, [1, [2, 3]]]
# two levels deep

[1, [1, [2, [3]]]]
# three levels deep


The sum in each of the above cases is the same (i.e. 7). I think the best approach is using recursion where the base case is a list with a single integer element, but beyond that I'm stuck.

Answer:

 You can use this recursive solution:

from collections import Iterable
def flatten(collection):
 for element in collection:
  if isinstance(element, Iterable):
   for x in flatten(element):
    yield x
  else:
   yield element


Demo:

>>> lis = [1, [1, [2, [3]]]]
>>> sum(flatten(lis))
7
>>> lis = [1, [1, 2, 3]]
>>> sum(flatten(lis))
7
>>> lis = [1, [1, [2, 3]]]
>>> sum(flatten(lis))
7
----------------------------------------------------------------------------------------------------